@font-face {
    font-family: 'AvenirBook';
    src: url('fonts/AvenirBook.eot');
    src: url('fonts/AvenirBook.eot') format('embedded-opentype'),
         url('fonts/AvenirBook.woff2') format('woff2'),
         url('fonts/AvenirBook.woff') format('woff'),
         url('fonts/AvenirBook.ttf') format('truetype'),
         url('fonts/AvenirBook.svg#AvenirBook') format('svg');
}
